<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Pick Up Customer
    </ion-title>
  </ion-navbar>
  <!-- <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar> -->
</ion-header>
  
<ion-content>
  <!-- <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->
    <div #map id="map"></div>
</ion-content>

<ion-footer>
  <button class="request-btn" ion-button full (click)="pickupCar()" *ngIf="!isArrived" [hidden]="isArrived">Arrive at User Location</button>
  <button class="request-btn" ion-button full color="primary" (click)="complete()" *ngIf="!isCompleted">Arrive at Workshop</button>
</ion-footer>